.table-container {
  max-height: 60vh;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.items-table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.items-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.items-table th,
.items-table td {
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.items-table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: all 0.3s ease;
}

.items-table tbody tr:nth-of-type(even) {
  border-bottom: 1px solid #f3f3f3;
}

.items-table tbody tr:last-of-type {
  border-bottom: 3px solid #009879;
}

.items-table tbody tr:hover {
  font-weight: 400;
  color: #009879;
}

.items-table tbody button {
  padding: 10px 20px;
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.items-table tbody button:hover {
  background-color: #007a63;
  color: #e0e0e0;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-item {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #219800;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.add-item:hover {
  background-color: #1b7502;
  color: #e0e0e0;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-container::-webkit-scrollbar {
  width: 4px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  background: #b3b2b2;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #727272;
}
