.item-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: auto;
  width: 50vh;
  max-height: 75vh;
  background-color: #dddada;
  padding: 1rem;
  border-radius: 25px;
}

.item-form div {
  display: flex;
  flex-direction: column;
}

.item-form div input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item-form div textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
}

.item-form div input:focus,
.item-form div textarea:focus {
  border-color: #009879;
  box-shadow: 0 2px 8px rgba(55, 233, 233, 0.3);
}

.submitBtn {
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #219800;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.modeBtn {
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #506abd;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.deleteBtn {
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #be1d1d;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

@media (max-width: 700px) {
  .item-form {
    width: 45vh;
    max-height: 70vh;
    overflow-y: auto;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: rgb(211, 221, 209);
  animation: spin 1s ease infinite;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.item-form::-webkit-scrollbar {
  width: 4px;
}

.item-form::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.item-form::-webkit-scrollbar-thumb {
  background: #b3b2b2;
  border-radius: 10px;
}

.item-form::-webkit-scrollbar-thumb:hover {
  background: #727272;
}
